$bar-width: 20%;

.layout {
	@apply relative;

	> div:first-child,
	> div:last-child {
		// overflow-y-scroll (ниже в apply)
		@apply fixed top-0 bottom-0 overflow-y-scroll;
		width: $bar-width;
		maw-width: 350px;
	}

	> div:first-child {
		@apply left-0 border-r border-r-gray-800;
	}
	> div:last-child {
		@apply right-0 border-l border-r-gray-800;
	}
	> div:first-child::-webkit-scrollbar,
	> div:last-child::-webkit-scrollbar{
		width: 0;
	}


	.center {
		@apply min-h-screen p-layout;
		margin: 0 $bar-width;
	}
}
